* {
    margin: 0;
    padding: 0;
}
/* header section start here */
header{
    height: 88vh;
    background-color: rgb(40, 32, 32) ;
    background: linear-gradient(to right,gray,black);
    background-blend-mode: overlay;
}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}
.header-text{
    width: 700;
    height: 500;
}
.header-text-description{
 padding-top: 25px;
}
.header-img{
    padding: 50px 50px 0px 0px;
}
.primary-btn{
    background-color: tomato;
    border: none;
    border-radius: 3px;
    padding: 15px 30px;
    margin-top: 25px;
}
/* header section end here */



/* Featured section Start here */
.feature-section-caption{
    text-align: center;
    margin-top: 150px;
}
.feature-description{
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: gray;
}
.feature-title{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.featured-container{
    width: 1440px;
    height: 605px;
    margin: auto;
   
}
.featured-img{
    display: flex;
   justify-content: space-around;
   align-items: center;
}
.fet-img-01{
   background-color: aquamarine;
   padding: 50px 65px 0px 65px;
   padding-top: 50px;
   border-top-left-radius: 45%;
   border-top-right-radius: 45%;

}
.fet-img-02{
    background-color: rgb(255, 240, 127);
   padding: 50px 40px 40px 40px;
   padding-top: 50px;
   border-top-left-radius: 45%;
   border-top-right-radius: 45%;
}
.fet-img-03{
    background-color: rgb(20, 120, 214);
   padding: 20px 70px 0px 70px;
   margin-bottom: 15px;
   border-top-left-radius: 45%;
   border-top-right-radius: 45%;

}
.featured-img-name{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.fet-img-text-01{
    color: palevioletred;
}
.fet-img-text-02{
    color: red;
}






/* Provide section Start here */
.provide{
    width: 1440px;
    height: 320px;
    margin: auto;
    background-color: rgb(70, 225, 13);
    border-radius: 15px;
}
.provide-img{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 100px 50px 0px 50px;
   
}

.provide-desc{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    color: whitesmoke;
}
.provide-desc2{
    padding-right: 20px;
}
.desc-1{
    padding-right: 90px;
}
.desc-2{
    padding-right: 75px;
}