* {
    margin: 0;
    padding: 0;
}
/* header section start here */
header{
    height: 88vh;
    background-color: rgb(40, 32, 32) ;
    background: linear-gradient(to right,gray,black);
    background-blend-mode: overlay;
}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}
.header-text{
    width: 700;
    height: 500;
}
.header-text-description{
 padding-top: 25px;
}
.header-img{
    padding: 50px 50px 0px 0px;
}
.primary-btn{
    background-color: tomato;
    border: none;
    border-radius: 3px;
    padding: 15px 30px;
    margin-top: 25px;
}
/* header section end here */



/* Featured section Start here */
.feature-section-caption{
    text-align: center;
    margin-top: 150px;
}
.feature-description{
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: gray;
}
.feature-title{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.featured-container{
    width: 1440px;
    height: 605px;
    margin: auto;
   
}
.featured-img{
    display: flex;
   justify-content: space-around;
   align-items: center;
}
.fet-img-01{
    background-color: rgb(40, 32, 32) ;
    background: linear-gradient(to right,rgb(182, 107, 50),rgb(17, 214, 175));
    background-blend-mode: overlay;
   padding: 50px 65px 0px 65px;
   padding-top: 50px;
   border-top-left-radius: 45%;
   border-top-right-radius: 45%;

}
.fet-img-02{
    background-color: rgb(40, 32, 32) ;
    background: linear-gradient(to right,rgb(224, 216, 216),rgb(21, 181, 199));
    background-blend-mode: overlay;
   padding: 50px 40px 40px 40px;
   padding-top: 50px;
   border-top-left-radius: 45%;
   border-top-right-radius: 45%;
}
.fet-img-03{
    /* background-color: rgba(23, 61, 85, 0.839); */
    background-color: rgb(40, 32, 32) ;
    background: linear-gradient(to right,rgb(106, 179, 93),rgb(30, 49, 22));
     background-blend-mode: overlay;
   padding: 20px 70px 0px 70px;
   margin-bottom: 15px;
   border-top-left-radius: 45%;
   border-top-right-radius: 45%;

}
.featured-img-name{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.fet-img-text-01{
    color: palevioletred;
}
.fet-img-text-02{
    color: red;
}

/* feature section end here */


/* Provide section Start here */
.provide{
    width: 1440px;
    height: 320px;
    margin: auto;
    background-color: rgb(40, 32, 32) ;
    background: linear-gradient(to right,rgb(93, 83, 83),rgb(156, 50, 50));
    background-blend-mode: overlay;

    
    border-radius: 15px;
}
.provide-img{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 100px 50px 0px 50px;
   
}

.provide-desc{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    color: whitesmoke;
}
.provide-desc2{
    padding-right: 20px;
}
.desc-1{
    padding-right: 90px;
}
.desc-2{
    padding-right: 75px;
}
/* Provide section End here */


/* hot deal section start here */

.hot-deal-container{
    width: 1920px;
    height: 620px;
    background-color: rgb(46, 46, 116);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 85px;
}
.hot-deal-desc{
    padding-top: 18px;
    
}
.sign-up{
 margin: 100px 0px 0px 140px;
}

/* hot deal section End here */

/* img item section start here */

.img-item{
    margin-top: 200px;
    width: 80%;
    margin-left: 250px;
   
}
.img-item-text{
    text-align: center;
}
.img-item-img{
    margin-top: 25px;
}
.img-item-desc{
    margin-top: 8px;
    color: gray;
}
.img-item-all{
    padding-left: 20px;
}

/* img item section end here */

/* input section start here */
.input-container{
background-image: url('/asset/Rectangle\ 9.png'); 
width: 1440px;
height: 400px;
margin: 150px 0px 0px 270px ;


}
.input-text{
    text-align: center;
  
}
.input-area{
    display: flex;
    justify-content: space-around;
   gap: 8px;
    align-items: center;
    margin: 20px 0px 0px 300px;
    
}
.foot{

 text-align: center;
 padding: auto;
 padding-top: 150px;
}
.input-box{
   width: 500px;
   height: 50px;
   border: none;
   border-radius: 8px;
   margin: 15px 0px 0px 250px;
}
.input-title{
    font-size: 40px;
}
.input-desc{
    padding-top: 15px;
    color:red;
}
.btn-icon{
    margin: 0px 555px 12px 0px;
}


/* footer section start here */
.footer-container{
    width: 1920px;
    height: 300px;
    background-color: rgb(102, 94, 94) ;
    background: linear-gradient(to right,rgb(57, 50, 50),rgb(47, 20, 20));
    background-blend-mode: overlay;
    color: whitesmoke;
    text-align: center;
  margin-top: 180px;
  padding-top: 180px;
}
.footer-title{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 25px;
}
.footer-flower{
    color: red;
}
.footer-desc{
    font-size: 18px;
}
.footer-last{
    color: rgb(46, 162, 113);
    padding-top: 20px;
}

/* footer section end here */